$font_weight_utilities: true;
$text_align_utilities: true;
$gobal_font_size:1rem;
$gobal_lineheight:1.25;


$font-families: (
  "default": "ABC Modern",
  "ABCModern": "ABC Modern",
  "system": "system-ui",
  "sans": "sans-serif Arial, Helvetica, sans-serif",
  'serif':'"Times New Roman", Times, serif',
  "fantasy": "fantasy",
  "mono": "monospace",
);

$font_weights:(
  300,400,600
) !default;
$font_weights_keys:(
  300:'lighter',
  400:'normal',
  600:'bold',
  // 900:'bolder',
);

$font_styles:('italic','oblique','normal');

$min-char-readable-line-leghth: 45;
$max-char-readable-line-leghth: 75;

$text_align_array:('left','center','right','justify') !default;